:root {
    --orange: #fc4103;
    --orange-transparent: #fc410359;
    --orange-light: #ff845c;
    --dark-blue: #0F172A;
    --dark-blue-transparent: #0F172A59;
    --black: #0A0A0A;
    --white: #cfcfcf;
    --gray: #BFC1C2;
    --gold: #C69B3C;
} 